---
layout: default
title: Home
---


<!-- Show last 5 posts here -->


	<!-- {% for post in site.posts %}

		<div class="row">
			<div class="col-md-4">
					<a href="{{site.baseurl}}{{post.url}}"><img class="front" src="{{post.image}}"></a>
				</div>
				<div class="col-md-8">
            <h4><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h4>
						<p>{{post.description}}</p>
						<p>{{post.author}}</p>
						<p>{{post.excerpt}}</p>
					</div>
</div>

	{% endfor %} -->

<div class="row">
	{% for post in site.posts %}
			<div class="col-md-4">
					<a href="{{site.baseurl}}{{post.url}}"><img class="front" src="{{post.image}}"></a>
						<h4><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h4>
						<p>{{post.category}}</p>
						<p>{{post.author}}</p>
					</div>

	{% endfor %}
</div>




<!-- <div id="paginator">
    {% if paginator.next_page %}
            <a href="{{site.baseurl}}/page{{paginator.next_page}}">
            &laquo; Older Posts</a>
    {% endif %}

    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
                <span class="more">
                <a href="{{site.baseurl}}/">
                Newer Posts &raquo; </a>
                </span>
        {% else %}
                <span class="more">
                <a href="{{site.baseurl}}/page{{paginator.previous_page}}">
                Newer Posts &raquo; </a>
                </span>
        {% endif %}
    {% endif %}
</div> -->
