/*default version*/
@font-face {
	font-family: 'Brown-Bold';
	src: url('Brown-Bold.otf');
}
/*bold version*/
@font-face {
	font-family: 'Brown-Thin-Backslanted';
	src: url('Brown-Thin-Backslanted.otf');
}

@font-face {
	font-family: 'Brown-Bold-Backslanted';
	src: url('Brown-Bold-Backslanted.otf');
	font-weight: bold;
}

body {

    font-family: "Brown-Bold", Sans-Serif;
    color:#501700;
    margin: 20px 40px;
}



header {

	margin-top: 20px

}

#logo {
width:150px;

}

nav {


margin-top: 30px;
/*float: right;*/
}

.one {
  font-size: 48px;
	border-bottom: 5px solid #82BBC0;
}

.two {
  font-size: 48px;
	border-bottom: 5px solid #FFD8E0;
	width: 190px;


}

#featured{

	/*margin-left: 50px*/
}



#catalog {

	margin-top: 500px;
}

#firstBox {
position: absolute;
background-color: #ffd8e0;
width: 80%;
height:500px;
z-index: -10;
top: 110px;
margin-left: 10px;

}

#secondBox {
	position: absolute;
	background-color: #82bbc0;
	width: 80%;
	height:500px;
	z-index: -10;
	/*top: 110px;*/
	margin-left: 20%;
	margin-top: -330px


}

h3 {
	font-size: 26px;
}

p {
  font-size: 16px
}

.navigation > li {

	font-size: 14px;
	text-transform: uppercase;
	padding-right: 50px
}

a {
	color:#82BBc0;
}

a:hover {
	font-family:'Brown-Thin-Backslanted';
	color: #501700
}

ul li{

  list-style-type: none;

}

li {
    display: inline;

}

nav li a {

    color: #501700;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}


nav li a:hover {
    color: #82BBC0;
		font-family: "Brown-Bold-Backslanted"
}

.grid {

  padding: 10px !important
}

img{

width: 100%;
}

img.front {

  width: 100%;
  margin-bottom: 20px
}

main{

  margin-top: 50px;
}

.postContent {

  padding-left: 25px
}

.postContent > ul {

  list-style-type: none;
}

label {

  padding-right: 12px;
}

.reg {
  width: auto;
}
