/*default version*/
@font-face {
	font-family: 'Brown-Bold';
	src: url('Brown-Bold.otf');
}
/*bold version*/
@font-face {
	font-family: 'Brown-Thin-Backslanted';
	src: url('Brown-Thin-Backslanted.otf');
}

@font-face {
	font-family: 'Brown-Bold-Backslanted';
	src: url('Brown-Bold-Backslanted.otf');
	font-weight: bold;
}

.btn{
	margin:0 0 20px 0;
	background-color: #82bbc0;
	color: #f8f8f8;
	padding: 10px 15px
}

body {

    font-family: "Brown-Bold", Sans-Serif;
    color:#501700;
    margin: 20px 40px;
}



header {

	margin-top: 20px

}

#logo {
width:150px;

}

nav {


margin-top: 30px;
/*float: right;*/
}

.all {
	margin-top: 75px
}

.one {
  font-size: 48px;
	border-bottom: 5px solid #82BBC0;
}

.two {
  font-size: 48px;
	border-bottom: 5px solid #FFD8E0;
	width: 890px;


}

.three {
  font-size: 78px;
	border-bottom: 5px solid #FFD8E0;
	/*width: 190px;*/


}

#featured{

	/*margin-left: 50px*/
}

img.featuredImg {
	width:80%;
	position: absolute;
}



#catalog {

	margin-top: 150px;
	margin-left: 130px
}

#firstBox {
position: absolute;
background-color: #ffd8e0;
width: 80%;
height:650px;
z-index: -10;
margin: -650px 6% 0 2%;

}

#secondBox {
	position: absolute;
	background-color: #82bbc0;
	width: 75%;
	height:500px;
	z-index: -10;
	/*top: 110px;*/
	margin-left: 225px;
	margin-top: -220px;
	margin-right: 50%;


}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 24px;
}

p {
  font-size: 16px
}

label{
	font-size: 16px;
}

.navigation > li {

	font-size: 14px;
	text-transform: uppercase;
	padding-right: 50px
}

a {
	color:#82BBc0;
}

a:hover {
	font-family:'Brown-Thin-Backslanted';
	color: #501700
}

ul li{

  list-style-type: none;

}

li {
    display: inline;

}

nav li a {

    color: #501700;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}


nav li a:hover {
    color: #82BBC0;
		font-family: "Brown-Bold-Backslanted"
}

.grid {

  padding: 10px !important
}

img{

width: 100%;
}

img.front {

  width: 100%;
  margin-bottom: 20px
}

main{

  margin-top: 50px;
}

.postContent {

  padding-left: 25px;

}

.postContent > ul {

  list-style-type: none;
}

.postBack {

		background-color: #ffd8e0;
		position: absolute;
		padding: 50px 170px;
		z-index: -10;
		margin: -150px 6% 0 2%;
}

label {

  padding-right: 12px;
}

.reg {
  width: auto;
}

.store {
position: absolute;
margin-left: 20%;
margin-right: 10%;
margin-top: -150px}
