/*default version*/
@font-face {
	font-family: 'Brown-Bold';
	src: url('Brown-Bold.otf');
}
/*bold version*/
@font-face {
	font-family: 'Brown-Thin-Backslanted';
	src: url('Brown-Thin-Backslanted.otf');
}

@font-face {
	font-family: 'Brown-Bold-Backslanted';
	src: url('Brown-Bold-Backslanted.otf');
	font-weight: bold;
}

.btn{
	margin:0 0 20px 0;
	background-color: #82bbc0;
	color: #f8f8f8;
	padding: 10px 15px
}

body {

    font-family: "Brown-Bold", Sans-Serif;
    color:#501700;
    margin: 20px 30px;
}



header {

	margin-top: 20px

}

#logo {
width:150px


}

.navbar {
	margin-top: 40px
}

.nav {
	padding-top: 20px !important;
	padding-left: 20%
}

.nav li {

	padding-right: 100px
}



.all {
	/*margin-top:200px*/
}


.one {
  font-size: 48px;
	border-bottom: 5px solid #82BBC0;
}

.two {
  font-size: 48px;
	border-bottom: 5px solid #FFD8E0;
	width: 190px;


}

.title {

	font-size: 24px;
	padding-top: 20px
}

#allCatalog .price {

	color: #ffd8e0;
}

#allFeatured{

	/*width: 85%;*/
	margin: -105px 0% 0 10%;

}

.ftImg {
	padding-top: 20px;
	margin-right: -150px !important;
	padding-right: 0 !important
}


#featured{


	margin-left: 0

}

.fBlurb{
	padding-top: 100px
}

.fBlurb>.price{

color: #82bbc0;
margin-bottom: 100px

}

.fLink{



}


#allCatalog{

margin-top: 200px;
margin-left: 130px
}

#catalog {


}

#firstBox {

	background-color: #ffd8e0;


}

#secondBox {
	background-color: #82bbc0;
	/*width: 75%;
	z-index: -10;
	margin-left: 225px;
	margin-top: 0px;
	margin-right: 50%;*/


}



.gallery {

margin: 0 !important;
padding: 0 !important;

}



h3 {
	font-size: 26px;
}

h4 {
	font-size: 24px;
}

p {
  font-size: 16px
}

label{
	font-size: 16px;
}

.navigation > li {

	font-size: 14px;
	text-transform: uppercase;
	padding-right: 50px
}

a {
	color:#82BBc0;
}

a.altlink {
	color:#ffd8e0
}

a:hover {
	font-family:'Brown-Thin-Backslanted';
	color: #501700
}

ul li{

  list-style-type: none;

}

li {
    display: inline;

}

nav li a {

    color: #501700;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}


nav li a:hover {
    color: #82BBC0;
		font-family: "Brown-Bold-Backslanted"
}

.grid {

  padding: 10px !important
}

img{

width: 80%;
}

img.front {

  width: 100%;
  margin-bottom: 20px
}

main{

  margin-top: 50px;
}

.postContent {

  padding-left: 25px;

}

.postContent > ul {

  list-style-type: none;
}

.postBack {

		background-color: #ffd8e0;
		position: absolute;
		padding: 50px 170px;
		z-index: -10;
		margin: -150px 6% 0 2%;
}

label {

  padding-right: 12px;
}

.reg {
  width: auto;
}

.store {
/*position: absolute;*/
margin-left: 20%;
margin-right: 10%;
margin-top: 0}



/*about__________________________*/

#aboutBox {
position: relative;
background-color:#82bbc0;
z-index: -10;
padding: 80px 20% 50px 30%;
margin-top: -120px;

}

.three {
  font-size: 48px;
	border-bottom: 5px solid #FFD8E0;

}

.allAbout{

	width: 85%;
	margin: -200px 15% 0 3%;
}

#about {

	margin-left: 93%;
	padding-top: 100px

}


@media (max-width: 991px) {

#logo {
	width:100px
}

}
