<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Questrial" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/owl/owl.carousel.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/owl/owl.theme.css" | prepend: site.baseurl }}">
      <link rel="stylesheet" href="{{ "/owl/owl.transitions.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
  <script src="jquery.js"></script>
  <script src="bootstrap.min.js"></script>

  <script src="owl.carousel.min.js"></script>

</head>
