/*default version*/
@font-face {
	font-family: 'Brown-Bold';
	src: url('Brown-Bold.otf');
}
/*bold version*/
@font-face {
	font-family: 'Brown-Thin-Backslanted';
	src: url('Brown-Thin-Backslanted.otf');
}

@font-face {
	font-family: 'Brown-Bold-Backslanted';
	src: url('Brown-Bold-Backslanted.otf');
	font-weight: bold;
}

.btn{
	margin:0 0 20px 0;
	background-color: #82bbc0;
	color: #f8f8f8;
	padding: 10px 15px
}

#postId{
	display:none;
}

body {

    font-family: "Brown-Bold", Sans-Serif;
    color:#501700;
    margin: 20px 30px;
}


header {

	margin-top: 0px

}


.navbar {
	margin-top: 40px
}

.nav {

margin-left: 27%
}

.nav li {

	padding-right: 75px;
	white-space: nowrap;
}

a.title {

	font-size: 24px;
	padding-top: 20px;
	color: #501700;
}

#logo {
width:150px;
position: absolute;
float:left;


}

.cart{
	position: absolute;
	margin-left: 80%;
	white-space: nowrap;
	display: block;
	color: #f8f8f8;
	background-color: #501700;
	padding: 10px 30px;
	border-radius: 2px;
	border: none;


}

.cart:hover{
	background-color: #82bbc0
}

.navbar-toggle {

	float: left;
}

main{

  margin-top: 50px;
}


h3 {
	font-size: 26px;
}

h4 {
	font-size: 24px;
}

p, .entry {
  font-size: 18px
}

label{
	font-size: 16px;
}

.navigation > li {

	font-size: 14px;
	text-transform: uppercase;
	padding-right: 50px
}

a {
	color:#82BBc0;
}

a.altlink {
	color:#ffd8e0
}

a:hover {
	font-family:'Brown-Thin-Backslanted';
	color: #501700
}

ul li{

  list-style-type: none;

}

li {
    display: inline;

}

nav li a {

    color: #501700;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}


nav li a:hover {
    color: #82BBC0;
		font-family: "Brown-Bold-Backslanted"
}


.ftPar {
	padding-top: 20px;
}

.ftImg {
	top: 0px
}


#featured {
margin-left: 85%;

}


#firstBox {

	background-color: #ffd8e0;
	padding: 30px 20px 20px 200px;
	margin-left: 30px;
	margin-top: -20px;
	width:80%

}

.one {
  font-size: 48px;
	border-bottom: 5px solid #82BBC0;



}

.ftPar>.price {

	color: #82BBC0;
}



#featured>.price{

color: #82bbc0;
margin-bottom: 100px

}


#secondBox {
	background-color: #82bbc0;
	padding: 20px 20px 20px 100px;
	margin-top: 30px;
	margin-left: 100px


}


.catalog {
margin-left: -20%;

}

.two {
  font-size: 48px;
	border-bottom: 5px solid #FFD8E0;
}

.gallery {

	}

.panel{
	background-color: transparent;
	display: inline-block;
	width: 32%;
	vertical-align: top;


}

#secondBox .price {

	color: #ffd8e0;
	padding: 0
}


#secondBox .title {

padding: 20px 0 0 0;
font-size: 20px;
}

#secondBox .author {


	padding: 0
}

.grid {

  padding: 10px !important
}

img{

width: 80%;
}

.panel img {

width:	90%
}



img.front {

  width: 100%;
  margin-bottom: 20px
}

.postContent > ul {

  list-style-type: none;
}

.postBack {

		background-color: #ffd8e0;
		position: absolute;
		padding: 5% 20%;
		z-index: -10;
		margin: 0px 6% 0 2%;
}

label {

  padding-right: 12px;
}

.reg {
  width: auto;
}

.store {
/*position: absolute;*/
margin-left: 20%;
margin-right: 10%;
margin-top: 0}



/*about__________________________*/

#aboutBox {
position: relative;
background-color:#82bbc0;
z-index: -10;
padding: 80px 20% 100px 30%;
margin-top: -120px;

}

.three {
  font-size: 48px;
	border-bottom: 5px solid #FFD8E0;

}

.allAbout{

	width: 85%;
	margin: -75px 15% 0 3%;
}

#about {

	margin-left: 93%;
	padding-top: 100px

}

#contact{
	margin: 20%
}

footer {
	display: none;
padding-top: 1000px;
	left:0px;
	bottom:0px;
	height:30px;
	width:100%;
text-align: center;
}



@media (max-width: 800px) {

#logo {
	width:75px;
	position: relative;
	margin-left: 25%;
}

#firstBox, #secondBox{
	padding: 20px;
	margin: 70px 0;
	width: 100%
}

#featured, .catalog{
	margin-left: 0%;
	margin-top: -65px;
margin-bottom: 40px
}

	.postContent{
		padding-top: 20px
	}

	.postBack {

			padding: 5% 5%;
			margin: 0px 2% 0 2%;
	}

	#aboutBox {
	padding: 40px 20px;
	margin-top: 0px;
	margin-right: 0;
	width:100%

	}

	#about {

		margin-left: 20px;
		padding-top: 50px;
		margin-bottom: -40px
	}

	.catalog {
	margin-left: 0;

	}

	.cart {
		margin-left: 80%;
		padding: 10px 20px
	}
	.panel{
		background-color: transparent;
		display: block;
		width: 100%
	}

	img.front {

	  width: 80%;
	  margin-bottom: 20px
	}

	.store{
		margin-left: 10%


	}

	.nav {

	margin-left: 20%
	}

	.nav li {

		padding-right: 55px;

	}

}

@media (max-width: 700px) {
	#logo {
		width:75px;
		position: relative;
		margin-left: 15%;
	}

	.cart {
		margin-left: 77%;
		padding: 10px 20px;
		margin-top: 10px
	}

}
