/*default version*/
@font-face {
	font-family: 'Brown-Bold';
	src: url('Brown-Bold.otf');
}
/*bold version*/
@font-face {
	font-family: 'Brown-Thin-Backslanted';
	src: url('Brown-Thin-Backslanted.otf');
}

@font-face {
	font-family: 'Brown-Bold-Backslanted';
	src: url('Brown-Bold-Backslanted.otf');
	font-weight: bold;
}

.btn{
	margin:0 0 20px 0;
	background-color: #82bbc0;
	color: #f8f8f8;
	padding: 10px 15px
}

body {

    font-family: "Brown-Bold", Sans-Serif;
    color:#501700;
    margin: 20px 30px;
}



header {

	margin-top: 0px

}


.navbar {
	margin-top: 40px
}

.nav {

margin-left: 30%
}

.nav li {

	padding-right: 100px
}

a.title {

	font-size: 24px;
	padding-top: 20px;
	color: #501700;
}

#logo {
width:150px;
position: absolute;


}


.ftPar {
	padding-top: 20px;
}

.ftImg {
	top: 0px
}


#featured {
margin-left: 85%;
}


#firstBox {

	background-color: #ffd8e0;
	padding: 0px 0px 20px 200px;
	margin-left: 30px;
	margin-top: -20px;
	width:80%

}

.one {
  font-size: 48px;
	border-bottom: 5px solid #82BBC0;



}

.ftPar>.price {

	color: #82BBC0;
}



#featured>.price{

color: #82bbc0;
margin-bottom: 100px

}


#secondBox {
	background-color: #82bbc0;
	padding: 50px 50px 50px 100px;
	margin-top: 30px;
	margin-left: 150px


}


.catalog {
margin-left: -20%;

}

.two {
  font-size: 48px;
	border-bottom: 5px solid #FFD8E0;
}

.gallery {

margin:0px 0 0 50px;
padding: 0 !important;

}

#secondBox .price {

	color: #ffd8e0;
}


#secondBox .title {

padding-top: 20px;
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 24px;
}

p {
  font-size: 16px
}

label{
	font-size: 16px;
}

.navigation > li {

	font-size: 14px;
	text-transform: uppercase;
	padding-right: 50px
}

a {
	color:#82BBc0;
}

a.altlink {
	color:#ffd8e0
}

a:hover {
	font-family:'Brown-Thin-Backslanted';
	color: #501700
}

ul li{

  list-style-type: none;

}

li {
    display: inline;

}

nav li a {

    color: #501700;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}


nav li a:hover {
    color: #82BBC0;
		font-family: "Brown-Bold-Backslanted"
}

.grid {

  padding: 10px !important
}

img{

width: 80%;
}

img.front {

  width: 100%;
  margin-bottom: 20px
}

main{

  margin-top: 50px;
}

.postContent {

  padding-left: 25px;

}

.postContent > ul {

  list-style-type: none;
}

.postBack {

		background-color: #ffd8e0;
		position: absolute;
		padding: 50px 170px;
		z-index: -10;
		margin: 0px 6% 0 2%;
}

label {

  padding-right: 12px;
}

.reg {
  width: auto;
}

.store {
/*position: absolute;*/
margin-left: 20%;
margin-right: 10%;
margin-top: 0}



/*about__________________________*/

#aboutBox {
position: relative;
background-color:#82bbc0;
z-index: -10;
padding: 80px 20% 50px 30%;
margin-top: -120px;

}

.three {
  font-size: 48px;
	border-bottom: 5px solid #FFD8E0;

}

.allAbout{

	width: 85%;
	margin: -75px 15% 0 3%;
}

#about {

	margin-left: 93%;
	padding-top: 100px

}

footer {
padding-top: 100px;
	left:0px;
	bottom:0px;
	height:30px;
	width:100%;
text-align: center;
}


@media (max-width: 700px) {

#logo {
	width:50px;
	position: relative;
}

#firstBox, #secondBox {
	padding: 20px;
	margin: 20px 0;
	width: 100%
}

#featured, #catalog{
	margin-left: 0%;
	padding-bottom: 20px
}
