/*default version*/
@font-face {
	font-family: 'Brown-Bold';
	src: url('Brown-Bold.otf');
}
/*bold version*/
@font-face {
	font-family: 'Brown-Thin-Backslanted';
	src: url('Brown-Thin-Backslanted.otf');
}

@font-face {
	font-family: 'Brown-Bold-Backslanted';
	src: url('Brown-Bold-Backslanted.otf');
	font-weight: bold;
}

/*#littleNav {
	display:none;
}*/

.btn{

	background-color: #82bbc0;
	color: #f8f8f8;
	padding: 5px 15px
}

#postId{
	display:none;
}

body {

    font-family: "Brown-Bold", Sans-Serif;
    color:#501700;
    margin: 20px 30px;
}


header {

	margin-top: 0px

}

/*_______________NAV_________________*/

.nav ul {
margin-top: 40px;
text-align: center;

}

.nav ul li{
  list-style-type: none;
	padding-right: 75px;
}

li {
    display: inline;
}

.nav li a {
    color: #501700;
    text-align: center;
    padding: 5px 10px 5px 0;
    text-decoration: none;
}


.nav li a:hover {
    color: #82BBC0;
		font-family: "Brown-Bold-Backslanted"
}


#logo {
width:150px;
position: absolute;
float:left;
z-index: 2;
margin-top: 30px;
border: none;


}

/*___________________________*/



a.title {

	font-size: 24px;
	padding-top: 20px;
	color: #501700;
}


.cart{
	position: absolute;
	margin-left: 80%;
	white-space: nowrap;
	display: block;
	color: #f8f8f8;
	background-color: #501700;
	padding: 10px 30px;
	border-radius: 2px;
	border: none;


}

.cart:hover{
	background-color: #82bbc0
}

main{

  margin-top: 50px;
}


h3 {
	font-size: 26px;
}

h4 {
	font-size: 24px;
}

p, .entry {
  font-size: 18px
}

label{
	font-size: 16px;
}

a {
	color:#82BBc0;
}

a.altlink {
	color:#ffd8e0
}

a:hover {
	font-family:'Brown-Thin-Backslanted';
	color: #501700
}


.ftPar {
	padding-top: 20px;
}

.ftImg {
	top: 0px
}


#featured {
margin-left: 85%;

}


#firstBox {

	background-color: #ffd8e0;
	padding: 30px 20px 20px 200px;
	margin-left: 30px;
	margin-top: -20px;
	width:80%

}

.one {
  font-size: 48px;
	border-bottom: 5px solid #82BBC0;



}

.ftPar>.price {

	color: #82BBC0;
}



#featured>.price{

color: #82bbc0;
margin-bottom: 100px

}


#secondBox {
	background-color: #82bbc0;
	padding: 20px 20px 20px 100px;
	margin-top: 30px;
	margin-left: 100px;
	margin-bottom: 100px


}


.catalog {
margin-left: -20%;

}

.two {
  font-size: 48px;
	border-bottom: 5px solid #FFD8E0;
}

.gallery a {

font-family: "Brown-Bold";
color: #501700;
	}

	.gallery a:hover {

	font-family: "Brown-Thin-Backslanted";
	color: #501700;
		}


.panel{
	background-color: transparent;
	display: inline-block;
	width: 32%;
	vertical-align: top;


}

#secondBox .price {

	color: #ffd8e0;
	padding: 0
}


#secondBox .title {

padding: 20px 0 0 0;
font-size: 20px;
}

#secondBox .author {


	padding: 0
}

.grid {

  padding: 10px !important
}

img{

width: 80%;
border: .5px solid #e0e0e0
}

.panel img {

width:	90%
}



img.front {

  width: 100%;
  margin-bottom: 20px
}

.postContent > ul {

  list-style-type: none;
}

.postBack {

		background-color: #ffd8e0;
		position: absolute;
		padding: 5% 20%;
		z-index: -10;
		margin: 0px 6% 0 2%;
}

label {

  padding-right: 12px;
}

.reg {
  width: auto;
}

.store {
/*position: absolute;*/
margin-left: 20%;
margin-right: 10%;
margin-top: 0}




/*about__________________________*/

#aboutBox, #blogBox {

background-color:#82bbc0;
padding: 80px 20% 100px 30%;
margin-top: -120px;
z-index: -10

}

.three {
  font-size: 48px;
	border-bottom: 5px solid #FFD8E0;

}

.allAbout, .allBlog{

	width: 85%;
	margin: -75px 15% 0 3%;
}

#about, #blog {

	margin-left: 93%;
	padding-top: 100px

}

#blogBox {

}

#blogBox h2 {



}

#blogBox h4 {

	font-family: "Brown-Bold-Backslanted";
	font-size: 18px;
	color:#FFD8E0
}

#blogBox div {

	margin-top: 20px;
	border-bottom: 2px solid #FFD8E0
}

.postBody{

	padding-bottom: 850px;
	z-index: -1
}

.postBack{

	z-index: 1

}

footer {
padding-top: 60px;
text-align: center;
margin-top: 100px;
margin-bottom: 100px
}

footer img {
	width: 45px;
	margin-right: 5px;
	margin-left: 5px;
	border: none;
}


#mc_embed_signup input.email{


}

form {
	padding: 10px;
}

 input[type=email]{
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #82bbc0;
    border-radius: 2px;
    box-sizing: border-box;}

#mc_embed_signup{background:#fff;
	clear:left;
	font-size:14px;
	font-family:"Brown-Bold";
	padding: 0 20px

}

footer p {

	margin-bottom: 0
}

.button{

	background-color: #82bbc0 !important;
	color: #f8f8f8;
	font-family: "Brown-Bold"
}

#insta, #tweet{
	display: inline-block;
}



@media (max-width: 992px) {

	body {

	    margin: 0px;
	}

main {
	margin: 30px;
}

.nav {
	display: block;
	background-color: #ffd8e0;

}
.nav ul {
margin: 130px 0 0 0;
text-align: center;
background-color: #82bbc0;
padding: 20px 0;

}

.nav ul li{
  list-style-type: none;
	padding-right: 15px;
	text-align: center;
}

.nav li a:hover {
    color: #ffffff;
}

li {
    display: inline;
}

.nav li a {
    color: #501700;
    padding: 5px 30px;
    text-decoration: none;
}

#logo {
	width:75px;
	display: block;
	position: relative;
	margin-left: 45%;
	margin-right: auto;
	margin-top: 20px;

}

#firstBox, #secondBox{
	padding: 20px;
	margin: 70px 0;
	width: 100%
}

#featured, .catalog{
	margin-left: 0%;
	margin-top: -65px;
margin-bottom: 40px
}

	.postContent{
		padding-top: 20px
	}

	.postBack {

			padding: 5% 5%;
			margin: 0px 2% 0 2%;
	}


	#about, #blog {

		margin: -100px 20px 0 20px;
		padding-top: 50px;
		margin-bottom: 70px;
	}

	#aboutBox, #blogBox {

	padding: 60px 5%;
	margin-top: -100px;
	z-index: -10

	}

	.allAbout, .allBlog{

		width: 100%;
		margin-top: 80px;
		margin-left: 0
	}

	#feedback{
		z-index: 2;
	}

	.catalog {
	margin-left: 0;

	}

	.cart {
		margin-left: 80%;
		padding: 10px 20px
	}


	img.front {

	  width: 80%;
	  margin-bottom: 20px;
	}

	.store{
		margin-left: 25%;


	}


	.postAll{
		padding-bottom: 900px
	}

}

@media (max-width: 540px){
	#logo{
		margin-left: 43%
	}
	.panel{
		background-color: transparent;
		display: block;
		width: 100%
	}
}

@media (max-width: 400px){
	#logo{
		margin-left: 41%
	}
}

@media (min-width: 1417px) {

	.catalog {
	margin-left: -10%;

	}

}
