<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{site.baseurl}}/style.css" />
        <meta name="description" content="{{site.description}}"/>
        <meta name="author" content="{{site.author}}"/>
        <link rel="author" href="humans.txt"/>
        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />
        <!--[if IE 7]><link rel="stylesheet" href="{{site.baseurl}}/resources/fontello/css/fontello-ie7.css"><![endif]-->
    </head>

    <body>

    <header><h2><a href="{{site.baseurl}}/">Zealous Press</a></h2></header>

    <nav>

    		<ul>
    				<li><a href="{{site.baseurl}}/">Home</a></li>
            <li><a href="{{site.baseurl}}/artists.html">Artists</a></li>
          <li><a href="{{site.baseurl}}/contact.html">Contact</a></li>
    		</ul>
    </nav>

        <main>

            {{ content }}

        </main>

        <!-- <footer>
            <hr />
            <p>&copy; <time>2017</time> {{ site.author }}</p>
        </footer> -->

        <script src="{{site.baseurl}}/scripts.js"></script>
    </body>

</html>
