---
layout: default
---

<article class="postBack">
<div class="row">

  <div class="col-md-7 col-xs-12">
          <img src= "{{site.baseurl}}/{{ page.image }}">
          <img src= "{{site.baseurl}}/{{ page.image2 }}">
          <img src= "{{site.baseurl}}/{{ page.image3 }}">
  </div>

<div class="col-md-5 col-xs-0 postContent">
        <header>
            <h2>{{ page.title }}</h2>
        </header>
          <p>By {{ page.author }}</p>
        <h4>{{ page.price }}</h4>
        <button type="button" class="btn">ADD TO CART</button>


        <div class="entry">{{ content }}</div>
<br>
<h5>Details</h5>
<p>
<label>Category</label> {{ page.category }}
  <br>
<label>Date Published</label> {{ page.dateP }}</p>
</div>
</article>
